#motto {
    display: none;
}
#navtop {
    background-color: black;
    display: flex;
    align-items: center;
    height: 50px;
}
a:link {
    color: white;
}
a:hover {
    color: seagreen;
}
a:visited {
    color: white;
}
li {
    display: inline;
}
#promotion {
    width: 100%;
}
#content {
    display: flex;
    flex-flow: row;
    align-items: strectch;
}
#texte {
    width: 70%;
}
#column {
    background-color: lightgray;
    width: 35%;
}
#jarditou {
    height: 70px;
    width: 225px;
}
#navbottom {
    display: flex;
    align-items: center;
    background: black;
    height: 60px;
}

