body {
    display: flex;
}
#nav {
    background-color:burlywood;
    width: 10vw;
    height: 55vw;
}
#menu {
    flex-flow: column;
    align-items: center;
}
#intro {
    background-color: darkgray;
    width: 90vw;
}